body{
    font-family: Arial, sans-serif;
    padding: 40px 35px 182px;
    font-size: 14px;

}

p{
    font-style: italic;
}

ul{
    font-style: italic;
}

.container{
    color: #770000;
}

div{
    color: #770000;
}
.h1 a{
    font-size: 36px;
    color: #1c4e7d;
}
.h2 a{
    font-size: 24px;
    color: #1c4e7d;
}